---
css_files: ["collapsible_hierarchy_tree.css", "normalize"]
---

<div class="module_hierarchy">
	<h3 class="description">Дерево зависимостей приложения на основе anguarjs</h3>
	<div id="mod_hierarchy"></div>
</div>